<div class="container">
  <div class="country-info">
    <img *ngIf="countryFlagUrl; else defaultFlag" [src]="countryFlagUrl" >
    <ng-template #defaultFlag>
      <img src="news.svg">
    </ng-template>
  </div>
  <div class="select-country">
    <select id="select-country" (change)="onCountryChange($event)">
      <option value="0">Select Country</option>
      <option *ngFor="let country of countries" [value]="country.name.common">{{country.name.common}}</option>
    </select>
  </div>
</div>
